
@{
    ViewBag.Title = "تماس با ما";
}

<!-- UIkit CSS -->
<link href="~/Styles/UIKit/uikit.min.css" rel="stylesheet" />
<!-- Project CSS -->
<link href="~/Styles/Static.min.css" rel="stylesheet" />

<div class="space-half"></div>

<div class="space-mobile"></div>

<content class="content-form column uk-margin-auto">
    <div class="parallax uk-flex"
         uk-parallax="bgy: +400">
        <h1 class="uk-width-1-2@m uk-text-center
            uk-padding-small uk-padding-remove-right uk-padding-remove-left
            uk-margin-auto uk-margin-auto-vertical">
            تماس با ما
        </h1>
    </div>

    <article>
        <h2 class="uk-padding-small uk-margin-remove-bottom uk-padding-remove-bottom uk-padding-remove-right uk-padding-remove-top">درباره ما</h2>
        <p>
            با توجه به گسترش روز افزون تجارت الکترونیک
            و نیاز مشتریان به دسترسی سریع به قیمت کالاهای دیجیتال بر آن شدیم
            وب سایت اطلاع رسانی و فروش آنلاین
            <b>ملک سرور</b>
            را راه‌اندازی کنیم.
        </p>
        <h4 class="uk-margin-remove-bottom">
            زمینه‌های فعالیت
        </h4>
        <ul class="uk-list ">
            <li>فروش قطعات سرور استوک و اورجینال</li>
            <li>فروش قطعات سرور استوک و اورجینال</li>
            <li>فروش قطعات سرور استوک و اورجینال</li>
        </ul>
        <h4 class="center uk-margin-remove-bottom uk-margin-medium-top">هماهنگی فروش</h4>
        <ul class="browse">
            <li>
                <div class="uk-card column">
                    <h5>احمد ملکی </h5>
                    <h4>5384 099 0919</h4>
                </div>
            </li>
            <li>
                <div class="uk-card column">
                    <h5>حامد ملکی </h5>
                    <h4>5385 099 0919</h4>
                </div>
            </li>
            <li>
                <div class="uk-card column ">
                    <h5>خانم حاصل زاده</h5>
                    <h4>5386 099 0919</h4>
                </div>
            </li>
        </ul>

        <p class="uk-margin-top">
            ساعات کاری: 
            شنبه تا پنج‌شنبه، از ساعت ۹ الی ۲۰
        </p>

        <p class="text-important">
            به منظور عدم اتلاف وقت شما عزیزان، لطفا قبل از مراجعه حضوری جهت خرید و یا تحویل کالا، با واحد تحویل سفارشات هماهنگی فرمایید.
        </p>
    </article>
</content>


<div class="space"></div>