
@{
    ViewBag.Title = "نقشه سایت";
    Layout = null;
}
<meta name="description" content="Sitemap" />
<meta name="keywords" content="Sitemap" />
<meta name="generator" content="Mystemapgenerator.com HTML Sitemap" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
<link href="~/Styles/SiteMap.css" rel="stylesheet" />


<h1 class="center" dir="rtl">نقشه سایت</h1>
<div class="section">
    <p><a class="center" href="/Home/Index">malekserver.com</a></p>
    <div><a href="/Product/New">جدیدترین محصولات</a></div>
    <div><a href="/Product/Suggestions">محصولات پیشنهادی</a></div>
    <div><a  href="/Blog/AllBlog">مقاله ها</a></div>
    <div><a href="/Login">ورود</a></div>
    <div><a href="/Register">ثبت نام در سایت</a></div>
    <div><a href="/Home/Index">صفحه اصلی</a></div>
    <div><a href="/Home/ContactUs">تماس با ما</a></div>
</div>